h1 {
    font-size: large;
    font-style: normal;
    font-family: 'Times New Roman', Times, serif;
    font-size: 90px;
}

h2 {
    font-size: large;
    font-style: normal;
    font-family: 'Times New Roman', Times, serif;
    font-size: 120px;
    
}